/venv
venv
djangoram/gpt_app/keys.py
/home/hasan/Desktop/dj_tg_projct/djangoram/gpt_app/keys.py

djangoram/scrap_app/scrap.py
/home/hasan/Desktop/dj_tg_projct/djangoram/scrap_app/scrap.py
keys.py
token.py

media
